# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Application Database URL
# For local development (with Docker Compose)
DATABASE_URL=
# For Docker Compose (internal network)
# DATABASE_URL="postgresql://admin:GoBarber123@postgres:5432/nest_db?schema=public"

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
